<% if !flash[:notice].blank?%>
  <div class="notice">
  <%=flash[:notice]%>>
  </div>
  <% end %>

<h1>Sign Up </h1>

<div class="left-pane"></div>
<div class="top-banner">
  <h1>Subtle Convos</h1>
</div>

<div class="form-container">
  <%= render 'form' %>
</div>

