<%= content_tag(:p, notice, class: 'notice') if notice %>
<%= content_tag(:p, alert,  class: 'alert' ) if alert  %>

<h1>Sign Up </h1>

<div class="left-pane"></div>
<div class="top-banner">
  <h1>Subtle Convos</h1>
</div>

<div class="form-container">
<p>Have Unlimited Subtle Conversations with a close set of people.</p>
  <%= render 'form' %>
  
  <p>Already have an account? <%= link_to "Log in", access_login_path,  :class => "links" %></p>
</div>

